flake8
pep8-naming
pytest
pytest-cov
sphinx
sphinx_rtd_theme
sphinxcontrib-plantuml
autoapi
topology_lib_ping
topology_lib_ip

-e git+https://github.com/saenzpa/topology_docker.git@master#egg=topology_docker
-e git+https://github.com/HPENetworking/topology_openswitch.git@master#egg=topology_openswitch
